.App {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    /* height: 100vh !important; */
    height: auto !important;
}

.spacer {
    height: 30vh;
    border: solid red 2px;
}